body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: black;
}

img{
    border-radius: 120px;
    width: 100px;
}